<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>MP5 | Hierarchical Modeling and Direct Manipulation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="css/global.css">

        <!-- Project dependencies: Angular, JQuery, Color picker, glMatrix -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="src/lib/gl-matrix.js"></script>

        <!-- Engine code -->
        <script type="text/javascript" src="src/Engine/Core/Engine_Core.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_VertexBuffer.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_MouseSupport.js"></script>
        <script type="text/javascript" src="src/Engine/Camera.js"></script>
        <script type="text/javascript" src="src/Engine/Camera_Mouse.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable.js"></script>
        <script type="text/javascript" src="src/Engine/RenderableManipulator.js"></script>
        <script type="text/javascript" src="src/Engine/WizardRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/StarRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/SquareRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/SimpleShader.js"></script>
        <script type="text/javascript" src="src/Engine/Transform.js"></script>
        <script type="text/javascript" src="src/Engine/PivotedTransform.js"></script>
        <script type="text/javascript" src="src/Engine/SceneNode.js"></script>
        <script type="text/javascript" src="src/GUI/CanvasMouseSupport.js"></script>
        <script type="text/javascript" src="src/GUI/SquareArea.js"></script>

        <script type="text/javascript" src="src/lib/CollisionHelper.js"></script>

        <!-- Application model -->
        <script type="text/javascript" src="src/App/DrawManager.js"></script>
        <script type="text/javascript" src="src/App/MazePiece.js"></script>
        <script type="text/javascript" src="src/App/Wizard.js"></script>    
        <script type="text/javascript" src="src/App/Star.js"></script>    
        <!-- Main controller -->
        <script type="text/javascript" src="src/controller.js"></script>
    </head>
    <body ng-app="mp5" ng-controller="mp5Controller"  ng-keypress="onClientButtonPress($event)">
        <h1 class="page-title"><a href="../" class="back-btn">◄ Back</a> | MP5 Hierarchical Modeling and Direct Manipulation</h1>

        <div class="panel wide">
            <table class="data-table">
                <tr>
                    <td>
                        <h3>Minimap Controls</h3>
                        <table>
                            <tr>
                                <td>
                                    <label>
                                        <input type="checkbox" ng-model="runMode" ng-change="toggleRunMode()">
                                        Run Mode
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Rotation snap (deg):
                                        <input type="number" ng-model="rotationSnap" min="1" max="360" string-to-number>
                                    </label>
                                </td>
                            </tr>
                            <tr ng-show="!runMode">
                                <td>
                                    Edit Controls
                                    <label> 
                                    Delete Selected Object
                                    <button ng-click="deleteSelectedObject()">Delete</button>
                                    </label>
                                </td>
                            </tr>
                            <tr ng-show="runMode">
                                <td>
                                    <h3>Instructions</h3>
                                    <ul>
                                        <li>Use WASD to control your avatar (the wizard).</li>
                                        <li>Find your way to the exit of the maze, the portal to eternal riches.</li>
                                        <li>If you get stuck and need a hint, you can take a peek at the minimap. You have 3 peeks per attempt.</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <canvas id="GLCanvas" width="{{CANVAS_SIZE[0]}}" height="{{CANVAS_SIZE[1]}}" ng-mousedown="onClientMouseClick($event)" ng-mouseup="onClientMouseUp()"
                                ng-mousemove="onClientMouseMove($event)" oncontextmenu="return false">
                            Your browser does not support the HTML5 canvas.
                        </canvas>
                    </td>
                </tr>
            </table>
        </div>

        <footer>
            Created by Andrew Hoke and Michael Nissenson for Kelvin Sung's CSS450 class. © 2016 All Rights Reserved.
        </footer>
    </body>
</html>
